#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*style flashcard component */

#flashCardComponent {
  margin: 3rem auto;
  align-items: center;
}

/* #flashCard-question,
#flashCard-answer {
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  overflow: auto;
  padding: 2rem;
  box-shadow: 0px .25rem 1rem;
  border-radius: 5px
}

#flashCard-question {
  background-color: white;
}

#flashCard-answer {
  background-color: #f4f7f7;
} */

/* Animation styling */
.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
  /* position: relative;
  background-color: blueviolet; */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
  top: 0;
  margin: 0 auto;
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  overflow: auto;
  padding: 2rem;
  box-shadow: 0px .25rem 1rem;
  border-radius: 5px
}

.flip-card-back {
  transform: rotateY(180deg) translate(50%, 0);  
  left: 50%;
  background-color: #f4f7f7;
}

.flip-card-front {
  transform: translate(-50%, 0);  
  background-color: white;
  left: 50%;

}

/* TODO animate card on hover */

/* #flashCard:hover {

} */

/* TODO style button component */

/* .nextButton {
position: absolute;
top: 250px;
} */

.flip-card-container {
  position: relative;
  height: 250px;
}
